@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: var(--primary-color);
  overflow-y: hidden;
}
:root {
  --primary-color: #68d3e9;
  --header-color: #0000ffa1;
  --white-color: #fff;
  --white-color-70: rgba(255, 255, 255, 0.7);
  --blue-color: blue;
  --blue-hover: #0C4FC0;
  --text-color: #2268A0;
}
/* INDEX.HTML */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-color);
}
header .logo {
  position: relative;
  color: var(--white-color);
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
/* header nav elements */
header .nav a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}
header .nav a:not(:last-child) {
  margin-right: 30px;
}
header .nav a:hover {
  cursor: pointer;
  background: var(--white-color);
  color: #000;
}
.content {
  max-width: 650px;
  height: 500px;
  margin: 60px 100px;
}
.content .info h1 {
  color: #2268a0;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 40px;
  margin-bottom: 30px;
}
.content .info h1 span {
  color: var(--white-color);
  font-size: 50px;
  font-weight: 600px;
  margin-bottom: 40px;
}
.info p {
  margin-bottom: 20px;
}
.quiz-img {
  position: absolute;
  top: 150px;
  right: 150px;
}
.content .quiz-btn {
  color: var(--white-color);
  background: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 5px;
  transition: 0.3s;
  transition-property: background;
}
.content .quiz-btn:hover {
  background: var(--blue-hover);
}
/* image */
img {
  width: 100%;
  height: 50%;
  float: right;
}
.copy-right {
  position: absolute;
  color: var(--blue-color);
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color-70);
}
/* footer */
footer {
  position: relative;
  bottom: 90px;
}
/* logo */
.logo {
  height: 100px;
  width: 100px;
}
